# Database
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/layali-albab

# Server
PORT=5000
NODE_ENV=development

# Admin
ADMIN_EMAIL=admin@layali-albab.com
ADMIN_PASSWORD=your_secure_password

# Restaurant Info
RESTAURANT_PHONE=963991094644
RESTAURANT_NAME=ليالي الباب
DELIVERY_FEE=30

# JWT
JWT_SECRET=your_jwt_secret_key_here
